# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
deno.lock

# Logs
*.log

# Editor
.vscode/
.idea/

# Misc
*.swp
*.bak
supabase/.temp/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
